/* 전체 div */
.unique-login-container {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 95vh;
}

/* 제목 */
.unique-login-title {
    color: black;
    font-size: 2rem;
    margin-bottom: 50px;
    /* 모바일에서는 더 적은 여백 */
}

/* 입력 그룹 */
.unique-login-input-group {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 15px;
}

/* 라벨 */
.unique-login-label {
    color: black;
    font-size: 1rem;
    margin-bottom: 2%;
    width: 100px;
}

/* 입력 필드 */
.unique-login-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s;
}

.unique-login-input:focus {
    border-color: #e69138;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* 버튼 컨테이너 */
.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

/* 버튼 공통 스타일 */
.unique-login-button,
.unique-register-button,
.kakaoLoginBtn {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

/* 로그인 버튼 */
.unique-login-button {
    background: #555777;
    color: #fff;
}

.unique-login-button:hover {
    background: #e69138;
}

/* 회원가입 버튼 */
.unique-register-button {
    background: #555777;
    color: #fff;
}

.unique-register-button:hover {
    background: #e69138;
}

/* 카카오 로그인 버튼 */
.kakaoLoginBtn {
    background: #f8e152;
    color: black;
}

.kakaoLoginBtn:hover {
    background: #e69138;
}

.lottie-container {
    flex: 1;
    display: flex;
    padding-left: 100px;
}

.unique-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

@media all and (min-width: 1000px) {
    .unique-login-container {
        flex-direction: row;
        padding: 0;
    }

    .lottie-container {
        flex: 1;
    }

    .unique-login {
        justify-content: center;
    }
}