.unique-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 120px;
    left: 500px;
}

/* 제목 */
.unique-login-title {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 100px;
}

/* 입력 그룹 */
.unique-login-input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    /* 라벨과 입력 필드 세로 중앙 정렬 */
}

/* 라벨 */
.unique-login-label {
    color: black;
    font-size: 1rem;
    margin-right: 20px;
    width: 80px;
    /* 라벨과 입력 필드 사이 간격 */
}

/* 입력 필드 */
.unique-login-input {
    width: 350px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s;
}

.unique-login-input:focus {
    border-color: #e69138;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* 버튼 스타일 */

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.unique-login-button,
.unique-register-button,
.kakaoLoginBtn {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

/* 로그인 버튼 */
.unique-login-button {
    background: #555777;
    color: #fff;
}

.unique-login-button:hover {
    background: #e69138;
}

/* 회원가입 버튼 */
.unique-register-button {
    background: #555777;
    color: #fff;
}

.unique-register-button:hover {
    background: #e69138;
}

.kakaoLoginBtn {
    background: #f8e152;
    color: black;
}

.kakaoLoginBtn:hover {
    background: #e69138;
}

.lottie-container {
    position: absolute;
    top: 30px;
    right: 870px;
    width: 600px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff7100;
    height: 90px;
}